
body {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    background-color: lightpink;
}

#welcomer{
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke-color: mediumpurple;
    -webkit-text-stroke-width: 4px;
    font-size: 50px;
    margin: auto;

}

btn {
    color: mediumpurple;

}
/*.top-nav {*/
/*    background: var(--light-bg);*/
/*    width: 100%;*/
/*    !*z-index: 1000 px;*!*/
/*    position: fixed;*/
/*}*/
/*.nav-item{*/
/*    display: inline-block;*/
/*    padding: 1.5em*/
/*}*/
/*.nav {*/
/*    list-style-type: none;*/
/*    padding: 0;*/
/*    margin: 0;*/

/*}*/


/*.navbarrr {*/
/*    padding: 5px;*/
/*    border-radius: 20px;*/

/*}*/

.navberry {
    background-image: url(../img/sunset.jpeg);
}

.card {
    padding: 10px;
    text-align: center;
    background-color: pink;
    font-size: 8px;
}

.cardholder {
    flex-wrap: wrap;
}
.form-control {
    width: 40%;
    /*border-radius: 10%;*/
}


/*
footer
 */
.footer {
    background-color: whitesmoke;
    width: 100%;
    margin: 1em 0 0 0;
    opacity: 60%;
    color: gray;
    position: absolute;
    bottom: 0;
}
